.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-container {
  max-width: 300px;
}

.item-title {
  font-size: 20px;
  color: #464646;
  margin-top: 25px;
}
.item-price {
  font-size: 16px;
  color: #464646;
  margin-bottom: 30px;
}
.item-detail {
  display: flex;
  color: #464646;
  align-items: center;
  text-align: left;
}
.item-detail-title {
  font-size: 25px;
  margin-bottom: 20px;
}

.item-detail-price {
  font-size: 20px;
  margin-bottom: 20px;
}
.item-detail-description {
  font-size: 16px;
  margin-bottom: 20px;
  max-width: 500px;
}
.item-list-container {
  display: flex;
  justify-content: space-around;
}

.number-count {
  margin-right: 35px;
  margin-left: 35px;
  color: #464646;
  font-size: 20px;
}
.item-link {
  text-decoration: none;
}
